*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x:hidden;
}

.main_nav{
    background-color: #313030;
    font-size: 13px;
    display: flex;
    padding: 0 20px;
    text-align:center;
    justify-content: space-around;
}

.menu {
    margin: 0;
    list-style: none;
    display: flex;
}

.menu li {
    padding: 20px;
}

.menu li a{
    color:#e0e0e0;
    text-decoration: none;
}

.menu li.selected {
    background-color: #ff3333;
}

.menu li a:hover,
.menu li a:focus{
    text-decoration: underline;
}

.intro{
    background-color: #f6f2f2;
    width: 100%;
    height: 30em;
    padding-top: 15px;
    padding-bottom: 5px;
}

.container_intro{
    margin-left: 10%;
    margin-right: 10%;
    //background-color: brown;
    height: 90%;
}

.intro .container_intro h1{
    margin-top: 35px;
}

.container_intro p, .fourth .head p {
    color: #a29f9f;
    margin-top: 7px;
}

.intro .container_intro button {
    font-size: 1em;
    margin-top: 7%;
    background-color: #ff3333;
    color: #f6f2f2;
    border: none;
    height: 20%;
    width: 50%;
    border-radius: 5px;
}

.container_intro button:hover {
    cursor: pointer;
}

.info{
    display: flex;
    padding: 15px;
    margin-top: 1em;
    //background-color: aqua;
}

.container_intro video {
    margin-left: 20px;
    margin-top: 35px;
    width: 40%;
    height: auto;
    box-shadow: 0 0 15px;
}

.second{
   //background-color: aqua;
    width: 100%;
    height: 30em;
    //display: flex;
}

.second .container_intro{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.second .left {
    color: #625e5e;
    //background-color: bisque;
    width: 40%;
    height: 100%;
    padding-left: 15px;
}

.second .left h1, .fourth .head h1{
    color: #625e5e;
}

.second .container_intro .left button {
    height: 3rem;
    color: brown;
    background-color: white;
    border-color: brown;
    font-size: 1em;
    margin-top: 7%;
    width: 60%;
    border-radius: 5px;
}

.second .right {
    color: #625e5e;
    //background-color: #e3ad6b;
    width: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.second .right p{
    font-size: 15px;
}

.second .right .element{
    //background-color: #e0dcd2;
    width: 45%;
    height: 13rem;
    margin-right: 10px;
}

.second .right .element img {
    width: 50px;
    height: 50px;
}

.hr_md{
    display: flex;
    justify-content: center;
}

.hr_md hr{
    border: 1px solid #c5c1c1;
    background-color: #c5c1c1;
    width: 80%;
    size: 2px;
}

.third{
    margin-top: 50px;
    text-align: center;
    //background-color: aqua;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.third .header{
    width: 100%;
    height: 23%;
    //background-color: #449f36;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third .header h1{
    color: #625e5e;
}

.third .header p{
    color: #a29f9f;
    margin-top: 7px;
}

.third .header hr {
    border: 1px solid #ff3333;
    background-color: #ff3333;
    width: 20%;
    margin-top: 25px;
}

.third nav{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2em;
    //background-color: #e3ad6b;
}

.third nav ul{
    list-style: none;
    height: 50px;
    display: flex;
    justify-content: space-between;
    //background-color: #e3ad6b;
}

.third nav ul li a{
    color:#625e5e;
    text-decoration: none;
}

.third .gallery{
    //background-color: chartreuse;
    height: 21em;
    display: flex;
    justify-content: center;
}

.third .gallery .gallery-container{
    //background-color: #8f20ad;
    width: 80%;
    height: 21em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.third .gallery img{
    margin-left: 10px;
    margin-bottom: 10px;
    height: 10em;
    width: auto;
}

.fourth{
    //background-color: #e3ad6b;
    height: 40em;
    margin-top: 5em;
}

.fourth .container_intro{
    height: 100%;
}

.fourth .head{
    //background-color: #449f36;
    width: 40%;
    height: 30%;
}

.fourth .head hr {
    border: 1px solid #ff3333;
    background-color: #ff3333;
    width: 40%;
    margin-top: 25px;
}

.fourth .f_info{
    //background-color: darkorange;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fourth .f_info img{
    object-fit: contain;
    max-width: 35%;
    margin-right: 5px;
    max-height: 100%;
}

.fourth .f_info .team_info{
    //background-color: antiquewhite;
    height: 100%;
    width: 70%;
}

.fourth .f_info .head{
    width: 80%;
}

.fourth .f_info .team-gallery{
    //background-color: #74f617;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.fourth .f_info .team-gallery img{
    max-width: 30%;
    margin-right: 0;
}

.fifth{
    margin-top: 4em;
    height: 30em;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.fifth:before{
    top: 0;
    left: 0;
    z-index: -1;
    content:"";
    background: url("https://t3.ftcdn.net/jpg/02/96/14/94/360_F_296149418_U15O0ATN8PjwhP2eYAEpBnMg13OKzw8J.jpg");
    background-size: cover;
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 30em;
}

.fifth h1{
    color: #eeeaea;
}

.fifth p{
    margin-bottom: 2em;
    color: #f3ecec;
    margin-top: 10px;
}

.fifth .inp{
    //background-color: #449f36;
    width: 50%;
    height: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fifth .inp input{
    padding-left: 1em;
    font-size: 1em;
    height: 80%;
    width: 70%;
    border-style: none;
    border-radius: 5px;
    outline:none;
}

.fifth .inp button {
    font-size: 1em;
    background-color: #ff3333;
    color: #f6f2f2;
    border: none;
    height: 80%;
    width: 25%;
    border-radius: 5px;
}

.fifth .inp button:hover {
    cursor: pointer;
}

footer {
    left: 0;
    bottom: 0; /* Левый нижний угол */
    background: #313030; /* Цвет фона */
    color: #555555; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    font-size: calc(20px + (50px-20px) * ((100vw - 320px) / (1600 - 320)));
}

.footer__contacts{
    //background-color: #ff3333;
    display: flex;
    width: 20%;
    justify-content: space-around;
}

.footer__contacts a img{
    max-width: 100%;
    max-height: 3em;
}